
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Videx - Upload Video
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')
  link(rel='stylesheet' href='/css/upload-image.css')
main.upload-container
  h2.form-title Upload your video
  
  form.upload-form(novalidate)
    .form-left
      .input-group
        input.input-field(type='text' placeholder='Video Title' required)
        span.error-msg Please fill this field
        
      textarea.input-field.textarea-field(placeholder='Description (Optional)')
      
      .input-group
        select.input-field.select-field(required)
          option(value='' disabled selected) Video quality
          option(value='1080p') 1080p (Full HD)
          option(value='720p') 720p (HD)
          option(value='360p') 360p (SD)
        span.error-msg Please fill this field
        
      .input-group
        input.input-field(type='date' name='date' placeholder='Date of Publishing' required)
        span.error-msg Please fill this field
        
    .form-right
      label.dropzone.video-drop
        input(type='file' name='video' accept='video/*' hidden required)
        i.fas.fa-cloud-upload-alt.upload-icon
        span Upload video
      label.dropzone.thumbnail-drop
        input(type='file' name='thumbnail' accept='image/*' hidden required)
        i.fas.fa-cloud-upload-alt.upload-icon
        span Upload Thumbnail
      button.submit-btn(type='submit') UPLOAD

  // This tiny script only adds a class on submit, preventing early errors!
  script.
    document.querySelector('.upload-form').addEventListener('submit', function(e) {
        this.classList.add('was-submitted');
        if (!this.checkValidity()) {
            e.preventDefault(); // Stops page refresh if fields are empty
        }
    });