{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videx</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="page-shell">
        <div class="landing-screen">
            <div class="brand">
                <img src="{% static 'image.jpeg' %}" alt="Videx Logo" class="logo">
            </div>
            <a href="{% url 'video_list' %}" class="join-button" type="button">JOIN</a>
        </div>

        
    </div>

   
</body>
</html>